@media (min-width: 360px) and (max-width: 720px) {

    .header_wrapper {
        height: unset;
    }

    .header__logo {
        flex: 1 1;
        margin: 8px 0 8px 10px;
    }

    .header__logo a {
        display: block;
        width: 30px;
        height: 40px;
    }

    .header__logo img {
        width: 80%;
    }

    .header__info_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__info_burger-btn {
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        order: 2;
        position: relative;
        justify-content: center;
        align-items: flex-end;
        margin: 0 16px;
    }

    .header__info_burger-btn input {
        display: none;
    }

    .header__info_burger-btn label {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 198, 0, 1);
        border: 2px solid rgba(0, 0, 0, 1);
        border-radius: 4px;
    }

    .header__info_burger-btn span:before {
        content: '';
        display: flex;
    }

    .header__info_burger-btn span {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 1);
        margin: 3px 5px;
        z-index: 2;
        width: 30px;
        transition: all .5s;
    }

    .header__info_burger-btn span:after {
        content: '';
        display: flex;
    }

    /*.header__info_burger-btn input:checked ~ span:nth-of-type(2):before,*/
    /*.header__info_burger-btn input:checked ~ span:nth-of-type(2):after {*/
        /*content: '';*/
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*border: 1px solid rgba(0, 0, 0, 1);*/
        /*transition: all .5s;*/
        /*opacity: 1;*/
    /*}*/

    /*.header__info_burger-btn input:checked ~ span:nth-of-type(2):before {*/
        /*transform: rotate(45deg);*/
    /*}*/

    /*.header__info_burger-btn input:checked ~ span:nth-of-type(2):after {*/
        /*transform: rotate(-45deg);*/
    /*}*/

    .header_info__buttons {
        order: 1;
        flex: 1 1;
        display: flex;
        justify-content: space-between;
    }

    .info_button_select__btn {
        width: 100px;
    }

    .info_button__search, .info_button__checkbox,
    .info_button__login, .header_info__advantages {
        display: none;
    }



}
